asttokens==2.4.1
clarabel==0.7.1
colorama==0.4.6
comm==0.2.2
contourpy==1.2.0
control==0.9.4
cvxpy==1.4.2
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
ecos==2.0.13
executing==2.0.1
fonttools==4.50.0
ipykernel==6.29.4
ipython==8.22.2
jedi==0.19.1
jupyter_client==8.6.1
jupyter_core==5.7.2
kiwisolver==1.4.5
matplotlib==3.8.3
matplotlib-inline==0.1.6
nest-asyncio==1.6.0
numpy==1.26.4
osqp==0.6.5
packaging==24.0
parso==0.8.3
pillow==10.2.0
platformdirs==4.2.0
prompt-toolkit==3.0.43
psutil==5.9.8
pure-eval==0.2.2
pybind11==2.12.0
Pygments==2.17.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pywin32==306
pyzmq==25.1.2
qdldl==0.1.7.post0
scipy==1.11.4
scs==3.2.4.post1
six==1.16.0
stack-data==0.6.3
tornado==6.4
traitlets==5.14.2
wcwidth==0.2.13
